.App {
  text-align: center;
  margin-top: 10vh;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #09d3ac;
}

h1 {
  text-align: center;
}

i {
  text-align: center;
}

a {
  text-decoration: none;
}

.top-push {
  margin-top: 12.25vh;
}

/* CREATE LOGS */

.log-head {
  /* display: flex; */
  border-bottom: 1px solid black;
}

.log-head > span {
  justify-content: space-between;
  margin: -21px 0px 0px;
}

.name-and-gender {
  display: flex;
  justify-content: space-around;
  align-items: center;
  /* border: 1px solid black; */
  /* justify-content: space-evenly; */
}

.name-and-gender > div {
  width: 30%;
}

.name-box {
  min-width: 45%;
  text-align: center;
}

@media (max-width: 375px) {
  .name-box {
    font-size: 0.75em;
  }
}

.weather-box {
  text-align: center;
  margin-top: -3.5%;
  /* max-width: 45%; */
  /* border-bottom: 1px solid black; */
  /* border-left: 1px solid black; */
  /* border-radius: 2%; */
}

.weather-box > p {
  /* max-width: 45%; */

  font-size: 0.75em;
  margin-top: 7px;
  margin-bottom: 2px;
}

.weather-icon {
  margin: -43px 0px -36px;
  /* margin: -41px 15px -36px; */
  /* border: 1px solid black; */
  /* FOR MOBILE margin:-6.7vh 4.98vw */
}

.gradient {
  background: rgb(2, 10, 46);
  background: linear-gradient(
    90deg,
    rgba(2, 10, 46, 1) 0%,
    rgba(12, 35, 135, 1) 30%,
    rgba(87, 139, 53, 1) 59%,
    rgba(255, 195, 66, 1) 100%
  );
}

.red {
  color: red;
  text-align: center;
}
.false {
  color: red;
  text-align: center;
}

.green {
  color: rgb(16, 116, 16);
  text-align: center;
}

.black {
  color: black;
  text-align: center;
}

/* VIEW ALL LOGS PAGE */

.view-header {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  /* border-bottom: 1px dotted black; */
}

.view-header > div > h1 {
  margin: 0px 0 4vh 0;
}

.create-log-link {
  text-align: center;
}

.log-box {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.log {
  border: 1px solid black;
  margin: 5vh 1.4vw;
  padding: 0 1vw;
  border-radius: 10px;
  width: 550px;
  box-shadow: 2px 2px #9398a2;
  background-color: #baccf1;
  /* min-width: 420px; */
}

.mock-log {
  border: 1px solid black;
  margin: 5vh 1.4vw;
  padding: 0 1vw;
  border-radius: 10px;
  max-width: 550px;
  box-shadow: 2px 2px #9398a2;
  background-color: #baccf1;
}

.log h2 {
  text-align: center;
}

.weather-audit {
  border: 1px solid black;
  margin: 1vh;
  padding: 0 1vw;
  max-width: 500px;
}

.header {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px dashed black;
  text-align: center;
}

.header > span {
  font-size: 16px;
  width: 25%;
  font-weight: bold;
  text-align: center;
}

.weather-average-header {
  display: flex;
  justify-content: space-between;
  text-align: center;
}

.weather-average-header span {
  width: 22%;
  text-align: center;
}

.filter-box {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  border-top: 1px dotted black;
}

.gender-filter {
  text-align: center;
}

.gender-filter button {
  background-color: rgb(233, 30, 99);
  border-radius: 50%;
  height: 50px;
  width: 100px;
  font-size: 1em;
}

.gender-filter button:hover {
  transition: 0.2s;
  background-color: rgb(240, 97, 130);
}

.view-default-logs {
  background-color: rgba(234, 60, 100, 1);
  height: 50px;
  font-size: 1em;
  font-weight: bold;
  border-radius: 3ch;
  margin-top: 1vh;
}

.view-default-logs:hover {
  transition: 0.2s;
  background-color: rgb(240, 97, 130);
}

.gender {
  margin-left: 2vw;
  /* text-align: end; */
}

.mood-and-productivity {
  display: flex;
  justify-content: space-evenly;
  text-align: center;
}

.mood-and-productivity > h3 {
  width: 40%;
  /* display: flex;
  justify-content: space-between; */
  border: 1px solid black;
}

.mood-and-productivity > h3 > p {
  color: red;
}

/* SIGNUP */
.signup {
  border: 2px solid black;
  overflow: hidden;
  background-color: rgba(250, 250, 250, 0.55);
  border-radius: 17px;
  display: flex;
  flex-direction: column;
  /* justify-content: flex-end; */
  min-height: 300px;
  height: 333px;
  max-width: 400px;
  margin: 2vw 0;
  padding: 2vh 1vw 0;
}

@media (min-height: 760px) {
  .signup {
    height: 365px;
  }
}

/* .signup > form {
  min-height: 280px;
} */

.signup-button {
  display: flex;
  /* align-items: flex-end; */
  justify-content: center;
}

.signup-button > button {
  margin-top: 1vh;
  font-size: 2em;
  height: 50px;
  width: 60%;
  border-radius: 1ch;
  margin-bottom: 2vh;
  background-color: rgba(114, 185, 240, 0.75);
}

.signup-button > button:hover {
  transition: 0.3s;
  background-color: rgba(114, 185, 240, 0.9);
}

.login-button {
  display: flex;
  /* align-items: flex-end; */
  justify-content: center;
}

.login-button > button {
  margin-top: 6vh;
  font-size: 2em;
  height: 50px;
  width: 60%;
  border-radius: 1ch;
  margin-bottom: 3vh;
  background-color: rgba(114, 185, 240, 0.75);
}

.login-button > button:hover {
  transition: 0.3s;
  background-color: rgba(114, 185, 240, 0.9);
}

.signup-header {
  text-align: center;
  font-size: 1.66em;
  margin-bottom: 2vh;
}

.form-piece {
  display: flex;
  justify-content: space-between;
  margin: 2vh 0;
}

.login-form-piece {
  font-size: 1.5em;
  margin: 20px 0;
}

.signup-message {
  /* margin: 5vh 0; */
  color: red;
  text-align: center;
}

/* THIS IS YOUR PROFILE PAGE */

.profile-header {
  display: flex;
}

.profile-date > span {
  font-size: 1.25em;
}

.cog {
  justify-content: end;
}

.profile-log-head {
  display: flex;
  justify-content: space-around;
}

@media (max-width: 345px) {
  .log h2 {
    font-size: 1em;
  }
}

.profile-mood-box {
  display: flex;
  /* flex-direction: column; */
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
}

.no-log-created {
  font-size: 3em;
  text-align: center;
  margin-top: 15vh;
}

.sort-by-age-box {
  display: flex;
  justify-content: center;
}

.sort-by-age {
  height: 50px;
  width: 45%;
  border-radius: 10px;
  font-size: 1.2em;
  background: rgba(69, 140, 216, 0.6);
  margin: 5% 0 0 0;
}

.sort-by-age:hover {
  transition: 0.25s;
  background: rgba(69, 140, 216, 0.9);
}

@media (max-width: 800px) {
  .sort-by-age {
    width: 75%;
  }
}

.weather-box-profile {
  margin-top: -0.5%;
}

@media (max-width: 425px) {
  .view-profile-overall-happiness {
    text-align: center;
  }
}

/* CREATE A LOG */

.create-log-page {
  display: flex;
  justify-content: center;
}

.create-log {
  border: 1px solid black;
  border-radius: 5px;
  margin: 1% 1% 0;
  text-align: center;
  max-width: 450px;
  height: 550px;
}

.create-log-button {
  width: 90%;
  height: 50px;
  border-radius: 1ch;
  font-size: 1.8em;
  margin: 0 0 2vh 0;
  /* background-color: rgba(93, 87, 87, 0.7); */
  background-color: rgba(180, 194, 60, 0.75);
}

.one-through-five-box {
  color: blue;
  font-weight: 100;
}

.one-through-five {
  display: flex;
  justify-content: space-around;
}

.one-through-five > span {
  margin: 12px 0;
  padding: 6px 11px;
  border: 2px solid blue;
  border-radius: 50%;
}

.one-through-five > button {
  margin: 12px 0;
  padding: 6px 11px;
  border: 2px solid blue;
  border-radius: 50%;
}

.one-through-five > #mood {
  color: rgb(15, 120, 218);
  margin: 12px 0;
  padding: 6px 6px;
  border: 2px solid blue;
  border-radius: 50%;
}

.one-through-five > #mood:hover {
  transition: 0.2s;
  background-color: rgba(250, 148, 148, 0.8);
}
.one-through-five > span:hover {
  transition: 0.2s;
  background-color: lightblue;
}

.one-through-five > span:focus {
  background-color: lightcoral;
}

.one-through-five > button:hover {
  transition: 0.2s;
  background-color: lightblue;
}

.one-through-five > button:focus {
  background-color: lightcoral;
}

#mood:target {
  background-color: black;
}

:target {
  background-color: black;
}

/* SETTINGS PAGE */

.settings-top {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.settings {
  /* border-left: 1px solid black;
  border-right: 1px solid black; */
  width: 54%;
  border-left: 3px solid black;
  border-right: 3px solid black;
  border-bottom: 2px solid black;
  margin-bottom: 3vh;
  padding: 1%;
  background: #a9c3e0;
}

@media (max-width: 700px) {
  .settings {
    width: 93%;
  }
}

.settings-change-preferences {
  border-top: 2px solid black;
  border-bottom: 2px solid black;
  padding-bottom: 2vh;
  margin-top: 2vh;
}

.settings-change-preferences-button {
  height: 30px;
  width: 27%;
  min-width: 120px;
  border-radius: 10px;
  font-size: 0.85em;
  background: rgba(224, 166, 166, 0.7);
}

.settings-change-preferences-button:hover {
  transition: 0.25s;
  background: rgba(235, 160, 160, 0.95);
}

.settings-change-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  border-bottom: 2px solid black;
  padding-bottom: 2vh;
}

.change-account-sub-box {
  display: flex;
  justify-content: space-between;
  width: 275px;
}

.settings-change-password {
  border-top: 2px solid black;
  margin-top: 2vh;
}

.change-password-super-box {
  display: flex;
  justify-content: center;
}

.change-password-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 275px;
}

.change-password-sub-box {
  display: flex;
  justify-content: space-between;
}

.settings-change-button {
  color: white;
  font-size: 1em;
  height: 35px;
  width: 30%;
  margin: 6vh 0 3vh;
  border-radius: 1ch;
  background-color: rgba(36, 100, 184, 0.8);
  align-self: center;
}

.settings-change-button:hover {
  transition: 0.2s;
  background-color: rgba(19, 71, 139, 0.8);
}

.delete {
  background-color: rgba(255, 0, 0, 0.75);
  /* box-shadow: 1px 1px rgb(16, 15, 15); */
  font-size: 1.5em;
  height: 52px;
  width: 200px;
  margin: 3%;
  border-radius: 2ch;
  border: 2px solid black;
}

.delete:hover {
  transition: 0.3s;
  background-color: rgba(255, 0, 0, 0.9);
}

.confirmDelete {
  margin: 3vh 0 0 0;
}

/* MOBILE */

@media (min-width: 425px) and (max-width: 770px) {
  .header-productivity {
    width: 27% !important;
  }
}

@media (max-width: 420px) {
  .filter-box > div {
    width: 100%;
    margin: 2vh 0;
    text-align: center;
  }

  .weather-box > p {
    margin-left: 9px;
  }

  .logged-in-user {
    margin: 0 0 0 2vw;
    font-size: 0.7em;
  }

  .create-button {
    width: 90%;
    margin: 8% 5% 2%;
  }

  .header-productivity {
    width: 31% !important;
  }
}

@media (min-width: 370px) and (max-width: 419px) {
  .header-productivity {
    width: 31% !important;
  }
}

@media (max-width: 1500px) {
  .settings-change-button {
    width: 250px;
    /* width: 85%; */
  }
}
